<section class="py-12">
  <div class="text-center mb-8">
    <div class="text-lg text-gray-700">Best Features</div>
    <div class="text-3xl text-primary">
      Key Features of <span class="text-gray-800">Agapemate</span>
    </div>
  </div>

  <div
  class="bg-gradient-to-b from-primary/10 container px-4 mx-auto py-24 flex flex-col md:flex-row gap-4"
>
  <img
    class="w-full md:w-1/3"
    src="https://res.cloudinary.com/dbr3c0f1q/image/upload/f_auto,q_auto/v1/agapemate/qfe2iigosiojknueb7ym"
    srcset="
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_320,f_auto,q_auto/v1/agapemate/qfe2iigosiojknueb7ym 320w,
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_640,f_auto,q_auto/v1/agapemate/qfe2iigosiojknueb7ym 640w,
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_1024,f_auto,q_auto/v1/agapemate/qfe2iigosiojknueb7ym 1024w,
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_1280,f_auto,q_auto/v1/agapemate/qfe2iigosiojknueb7ym 1280w
    "
    sizes="(max-width: 320px) 280px, 
           (max-width: 640px) 600px, 
           (max-width: 1024px) 960px, 
           1280px"
    alt=""
  />
  <img
    class="w-full md:w-1/3"
    src="https://res.cloudinary.com/dbr3c0f1q/image/upload/f_auto,q_auto/v1/agapemate/lbp8zts5ypfunzapgyub"
    srcset="
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_320,f_auto,q_auto/v1/agapemate/lbp8zts5ypfunzapgyub 320w,
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_640,f_auto,q_auto/v1/agapemate/lbp8zts5ypfunzapgyub 640w,
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_1024,f_auto,q_auto/v1/agapemate/lbp8zts5ypfunzapgyub 1024w,
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_1280,f_auto,q_auto/v1/agapemate/lbp8zts5ypfunzapgyub 1280w
    "
    sizes="(max-width: 320px) 280px, 
           (max-width: 640px) 600px, 
           (max-width: 1024px) 960px, 
           1280px"
    alt=""
  />
  <img
    class="w-full md:w-1/3"
    src="https://res.cloudinary.com/dbr3c0f1q/image/upload/f_auto,q_auto/v1/agapemate/mbjsntv8qemeclnwppsc"
    srcset="
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_320,f_auto,q_auto/v1/agapemate/mbjsntv8qemeclnwppsc 320w,
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_640,f_auto,q_auto/v1/agapemate/mbjsntv8qemeclnwppsc 640w,
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_1024,f_auto,q_auto/v1/agapemate/mbjsntv8qemeclnwppsc 1024w,
      https://res.cloudinary.com/dbr3c0f1q/image/upload/w_1280,f_auto,q_auto/v1/agapemate/mbjsntv8qemeclnwppsc 1280w
    "
    sizes="(max-width: 320px) 280px, 
           (max-width: 640px) 600px, 
           (max-width: 1024px) 960px, 
           1280px"
    alt=""
  />
</div>

</section>
