<div class="bg-white text-gray-900">
  <div class="container mx-auto py-12 px-4">
    <div class="text-center mb-10">
      <div class="text-xl">How it works</div>
      <div class="text-3xl ">
        A <span class="text-primary">Step-by-Step</span> Guide
      </div>
    </div>
    <div class="flex justify-center items-center gap-6">
        <div class="w-2/4 hidden md:block">
            <img src="https://freshbucket.blob.core.windows.net/fresh-container/fresh-landing/white_love.png" alt="white love">
        </div>
    <div class="flex flex-col items-center justify-center relative gap-y-12 ">
      <div class="flex gap-6 w-full text-left">
        <div class="bg-pink p-6 rounded-xl text-primary flex items-center justify-center mx-auto mb-4">
            <div class=" text-2xl md:text-3xl">01.</div>
        </div>
        <div class="">
          <div class="text-xl md:text-2xl text-primary">Sign Up</div>
          <p class="text-lg">Labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
      </div>
      <div class="flex gap-6 w-full text-left">
        <div class="bg-pink p-6 rounded-xl text-primary flex items-center justify-center mx-auto mb-4">
          <div class=" text-2xl md:text-3xl">02.</div>
        </div>
        <div class="">
          <div class="text-xl md:text-2xl text-primary">Create Profile & Add Preferences</div>
          <p class="text-lg">Labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
      </div>
      <div class="flex gap-6 w-full text-left">
        <div class="bg-pink p-6 rounded-xl text-primary flex items-center justify-center mx-auto mb-4">
          <div class=" text-2xl md:text-3xl">03.</div>
        </div>
        <div class="">
          <div class="text-xl md:text-2xl text-primary">Browse & Match</div>
          <p class="text-lg">Labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
      </div>
      <div class="flex gap-6 w-full text-left">
        <div class="bg-pink p-6 rounded-xl text-primary flex items-center justify-center mx-auto mb-4">
          <div class=" text-2xl md:text-3xl">04.</div>
        </div>
        <div class="">
          <div class="text-xl md:text-2xl text-primary">Chat & Meet Up</div>
          <p class="text-lg">Labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
